---
---

.page.fourohfour {
    text-align: center;

    img {
        width: 450px;
        margin: 0 auto 4rem auto;
        @media (max-width: 35rem) {
            margin: 0 auto 2rem auto;
        }
    }

    h1 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 18px;
        color: var(--ui-color);
    }
}
