<footer class="footer">
    <ul class="navigation">
        <li class="search" onclick="$('#search').focus();">
            <img src="{{ site.baseurl }}/assets/search.svg" alt="search">
        </li>
        {% assign navigation = site.data.navigation.left | concat: site.data.navigation.right %}
        {% for nav in navigation %}
        <li{% if page.dir contains nav.url %} class="active"{% endif %}><a href="{{ site.baseurl }}/{{ nav.url }}">{{ nav.text }}</a></li>
        {% endfor %}
    </ul>
    <ul class="social">
        <li><a href="https://twitter.com/{{ site.twitter }}/" target="_blank"><img src="{{ site.baseurl }}/assets/twitter.svg" alt="t"></a></li>
        <li><a href="https://www.instagram.com/{{ site.instagram }}/" target="_blank"><img src="{{ site.baseurl }}/assets/instagram.svg" alt="i"></a></li>
        <li><a href="{{ site.baseurl }}/atom.xml"><img src="{{ site.baseurl }}/assets/feed.svg" alt="r"></a></li>
        <li><a href="{{ site.baseurl }}/subscribe"><img src="{{ site.baseurl }}/assets/email.svg" alt="e"></a></li>
    </ul>
    <div class="copyright">
        <span>&copy; </span>
        <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }} </time>
        <a href="https://walnut.co/" target="_blank">walnut</a>
        <span>&middot; all rights reserved</span>
    </div>
</footer>

<script src="{{ site.baseurl }}/js/jquery.min.js"></script>

<script src="{{ site.baseurl }}/js/script.js"></script>

{% if page.is_post %}
  <script src="{{ site.baseurl }}/js/jquery.inline-footnotes.min.js"></script>
  <script type="text/javascript">$(document).ready(function(){$.inlineFootnotes();});</script>
{% endif %}

<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>

{% if site.analytics_id %}{% include analytics.html %}{% endif %}
