<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "C100" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% elsif page.tags contains "found" and page.title %}
      {{ page.category | replace: "-", " " | capitalize | prepend: "Around the Web: " }}
    {% elsif page.volume %}
      C100 &middot; {{ page.theme | capitalize }} &middot; {{ page.title }}
    {% elsif page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | prepend: page.feed | relative_url }}">

  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.waypoints.min.js"></script>
  <script src="{{ site.baseurl }}/js/script.js"></script>
  {% if page.is_post %}
    <script src="{{ site.baseurl }}/js/jquery.inline-footnotes.min.js"></script>
    <script type="text/javascript">$(document).ready(function(){$.inlineFootnotes();});</script>
  {% endif %}

  {% seo title=false %}
</head>
