{% assign post-issue = site.issues | where:"slug", post.category | first %}

{% if post.tags contains "found" and include.full-found %}
  {% assign wrapper = "article" %}
{% else %}
  {% assign wrapper = "div" %}
{% endif %}

<{{ wrapper }} class="post {{ post.tags | join: " " }}">
  <a class="left" href="{{ post.url | relative_url }}">
    {% unless post.tags contains "found" and include.full-found %}
      <picture class="post-thumbnail">
          <img src="{{ site.baseurl | append: "/thumbnails/" | append: post.thumbnail }}" alt="" />
      </picture>
    {% endunless %}
  </a>
  <span class="right">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {% if post.tags contains "found" and include.full-found %}
          Around the Web
        {% else %}
          {{ post.title }}
        {% endif %}
      </a>
    </h2>
    <div class="post-meta">
        {% for tag in post.tags %}
            <a href="{{ site.baseurl | append: "/" | append: tag }}/">{{ tag }}</a> &middot;
        {% endfor %}
        <a href="{{ site.baseurl | append: post-issue.url }}">issue {{ post-issue.volume }}</a>
        {% if page.pagination.tag %}
           &middot; <a href="{{ site.baseurl | append: post-issue.url }}">{{ post-issue.slug | replace: "-", " " }}</a>
        {% endif %}
    </div>
    {% if post.tags contains "found" and include.full-found %}
        {{ post.content }}
    {% else %}
      <p class="post-description">{{ post.description }}</p>
    {% endif %}
    <picture class="post-spot"><img src="{{ site.baseurl | append: "/illos/" | append: post.illo }}" alt="" /></picture>
  </span>
</{{ wrapper }}>
