<ul class="social">
    <li><a href="https://twitter.com/{{ site.twitter }}/" target="_blank"><img src="{{ site.baseurl }}/assets/twitter.svg" alt="twitter"></a></li>
    <li><a href="https://www.instagram.com/{{ site.instagram }}/" target="_blank"><img src="{{ site.baseurl }}/assets/instagram.svg" alt="instagram"></a></li>
    <li><a href="{{ site.baseurl }}/atom.xml"><img src="{{ site.baseurl }}/assets/feed.svg" alt="feed"></a></li>
    <li><a href="{{ site.baseurl }}/subscribe"><img src="{{ site.baseurl }}/assets/email.svg" alt="subscribe"></a></li>
</ul>
