.about {
    display: grid;
    grid-template-columns: [left] 33% [right] 67%;

    h2 {
        grid-column-start: left;
        margin: 2rem 0 1rem 0;
        font-family: var(--ui-font);
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--ui-color);
        text-transform: uppercase;
    }

    p {
        grid-column-start: right;
        font-size: 15px;
        line-height: 2;
        color: #353535;

        &.image {
            grid-column-start: left;
            grid-column-end: span 2;
        }

        &.image.mug {
            margin-top: 4.5rem;
        }
    }

    h2 + p {
        margin-top: 2rem;
    }
}

@media (max-width: 35rem) {
    .about {
        display: block;

        h2 {
            margin: 2rem 0 1rem 0;
            font-size: 18px;
        }

        p.image.mug {
            margin-top: 3rem;
        }

        h2 + p {
            margin-top: 0rem;
        }
    }
}
