// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  min-height: 100vh;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;

  main {
    position: relative;
    flex-grow: 1;
    padding-top: 2.5rem;
  }
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

@media (max-width: 35rem) {
  .container main {
    padding-top: 0;
  }
}
