// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  font-family: var(--ui-font);
  font-size: 17px;
  line-height: 32px;
  font-weight: var(--ui-font-weight);
  text-align: center;

  margin: var(--spacer-3) 0;

  .pagination-item {
    display: inline-block;
    color: var(--ui-color);
    opacity: 0.25;

    &:first-child { float: left; text-align: left; }
    &:last-child { float: right; text-align: right; }

    &.older span { margin-right: 0.5rem; }
    &.newer span { margin-left: 0.5rem; }
  }

  .filler { display: none; }

  a.pagination-item {
    opacity: 1;
    text-decoration: none;
    box-shadow: inset 0 -2px rgba(212,203,195,0);
    -webkit-transition: .1s ease-in-out box-shadow;
    -moz-transition: .1s ease-in-out box-shadow;
    transition: .1s ease-in-out box-shadow;

    &:hover, &:focus {
      text-decoration: none;
      box-shadow: inset 0 -2px rgba(212,203,195,1);
    }

    &:active {
      position: relative;
      top: 2px;
    }
  }
}

.pagination.sideways {
  display: none;
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 70rem) {
  .pagination.sideways {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%; height: 100%;
    max-width: 52rem;
    pointer-events: none;
    
    .pagination-item {
      pointer-events: auto;

      &:first-child {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-left: -100px;
      }
      
      &:last-child {
        writing-mode: vertical-rl;
        margin-right: -100px;
      }

      &.older span { margin-right: 0; }
      &.newer span { margin-left: 0; }
      &.older span, &.newer span {
        opacity: 0.35;
        &:first-child { margin-bottom: 0.7rem; }
        &:last-child { margin-top: 0.7rem; }
      }
    }

    .filler {
      display: block;
      flex-grow: 1;
    }

    a.pagination-item {
      box-shadow: inset 2px 0 rgba(212,203,195,0);

      &:hover, &:focus {
        box-shadow: inset 2px 0 rgba(212,203,195,1);
      }
    }
  }
}
