.posts {
    .post {
        display: flex;
        flex-direction: row;

        .left, .right {
            display: block;
            position: relative;
        }
    }
    .post:nth-child(odd) {
        .left {  margin-right: 4rem; }
        .post-spot { right: -250px; }
    }
    .post:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        .left { margin-left: 4rem; }
        .post-spot { left: -250px; }
    }

    .post.found {
        text-align: left;
        .left { display: none; }
        .right { flex-grow: 1; }
    }

    .left:active {
        position: relative;
        top: 2px;
    }

    .post-thumbnail {
        display: block;
        width: 450px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-spot {
        display: block;
        width: 400px;
        max-width: 400px;
        height: 400px;
        position: absolute;
        top: calc(50% - 200px);
        z-index: -1;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    
        img {
            display: initial;
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0; padding: 0;
            object-fit: contain;
            border-radius: 0;
        }
    }

    .post-title {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% + 1px);
            width: 3rem; height: 1px;
            background: rgba(0,0,0,0.15);
        }

        a:before, a:after { display: inline-block; }
        a:before { margin-right: 0.5rem; }
        a:after { margin-left: 0.5rem; }

        a:active {
            position: relative;
            top: 2px;
        }
    }
    .post:nth-child(odd) .post-title {
        &:before { left: -4rem; }
        a:after { content: ' \2192'; }
    }
    .post:nth-child(even) .post-title {
        &:before { right: -4rem; }
        a:before { content: '\2190  '; }
    }
    .post.found .post-title {
        &:before, a:before, a:after { display: none; }
    }
    &.issue .post.found {        
        .post-title {
            a {
                padding: 0 1rem;
                background: var(--body-bg);
            }

            &:before {
                display: block;
                width: 100%;
                left: 0; right: 0;
                z-index: -1;
            }
        }
        .post-meta { position: relative; }
    }

    .post-description {
        margin-bottom: 0.5rem;
        font-size: 15px;
        color: var(--ui-color);
    }
}

@media (max-width: 60rem) {
    .posts {
        .post:nth-child(odd) {
            .left {  margin-right: 3rem; }
            .post-title:before { left: -3rem; }
        }
        .post:nth-child(even) {
            .left { margin-left: 3rem; }
            .post-title:before { right: -3rem; }
        }
        .post-thumbnail {
            width: calc(45vw * 0.8);
            height: calc(30vw * 0.8);
        }
        .post-title:before {
            width: 2rem;
        }
    }
}

@media (max-width: 45rem) {
    .posts {
        .post {
            display: block;
            text-align: left !important;
            margin-bottom: 3rem;
            .left {
                margin: 1rem 0 !important;
            }
            .post-thumbnail {
                width: 100%;
                height: 45vw;
            }
            .post-title:before {
                display: none;
            }
        }
        .post:nth-child(even) .post-title {
            a:before { display: none; }
            a:after { content: ' \2192'; }
        }
        .post.found {
            padding: 0;
        }
        &.issue .post.found .post-title {
            a {
                padding: 0;
            }

            &:before {
                position: static;
                display: block;
                width: 100%;
                margin-bottom: 3rem;
            }
        }
    }
}
