.posts {
    .post {
        display: flex;
        flex-direction: row;
    }
    .post:nth-child(odd) {
        .left {  margin-right: 4rem; }
    }
    .post:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        .left { margin-left: 4rem; }
    }

    .post.found {
        text-align: left;
        .left { display: none; }
        .right { flex-grow: 1; }

        .post-title, .post-meta {
            text-align: center;
        }

        .post-title a {
            display: inline-block;
        }

        .post-meta {
            margin-bottom: 1rem;
        }
    }

    .left:active {
        position: relative;
        top: 2px;
    }

    .post-thumbnail {
        display: block;
        width: 450px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-title {
        position: relative;
        font-family: var(--ui-font);
        font-weight: 400;
        color: var(--ui-color);
        margin-bottom: 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 3px);
            width: 3rem; height: 1px;
            background: rgba(0,0,0,0.25);
        }

        a:active {
            position: relative;
            top: 2px;
        }
    }
    .post:nth-child(odd) .post-title:before { left: -4rem; }
    .post:nth-child(even) .post-title:before { right: -4rem; }
    .post.found .post-title:before {
        display: none;
    }
    &.issue .post.found {
        .post-title {
            a {
                padding: 0 1rem;
                background: var(--body-bg);
            }

            &:before {
                display: block;
                width: 100%;
                left: 0; right: 0;
                z-index: -1;
            }
        }
        .post-meta { position: relative; }
    }

    .post-meta {
        margin-bottom: 0.5rem;
        font-family: var(--ui-font);
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;

        a {
            display: inline-block;
            line-height: 14px;
            color: var(--ui-color);
            text-decoration: none;
            border-bottom: 1px solid rgba(0,0,0,0.15);
            -webkit-transition: .1s ease-in-out border-bottom;
            -moz-transition: .1s ease-in-out border-bottom;
            transition: .1s ease-in-out border-bottom;

            &:hover, &:focus {
                text-decoration: none;
                border-bottom: 1px solid rgba(0,0,0,1);
            }

            &:active {
                position: relative;
                top: 2px;
            }
        }
    }

    .post-description {
        margin-bottom: 0.5rem;
        color: var(--ui-color);
    }
}

@media (max-width: 60rem) {
    .posts {
        .post:nth-child(odd) {
            .left {  margin-right: 3rem; }
            .post-title:before { left: -3rem; }
        }
        .post:nth-child(even) {
            .left { margin-left: 3rem; }
            .post-title:before { right: -3rem; }
        }
        .post-thumbnail {
            width: calc(45vw * 0.8);
            height: calc(30vw * 0.8);
        }
        .post-title:before {
            width: 2rem;
        }
    }
}

@media (max-width: 45rem) {
    .posts {
        .post {
            display: block;
            text-align: left !important;
            margin-bottom: 3rem;
            .left {
                display: block;
                margin: 1rem 0 !important;
            }
            .post-thumbnail {
                width: 100%;
                height: 45vw;
            }
            .post-title:before {
                display: none;
            }
        }
        &.issue .post.found .post-title:before {
            position: static;
            display: block;
            width: 100%;
            margin-bottom: 3rem;
        }
    }
}
