.searching {
	.search {
	  opacity: 1;

	  #search {
	    width: 200px;
	    box-shadow: 0 3px rgba(0,0,0,1);
	  }
	}
}

#results {
	display: none;
	.status {

	}
	.result {

		.result-body {

			.post-title {

			}
			.post-date {

			}
			p {

			}
		}
	}
}

@media (prefers-color-scheme: dark) {
  .searching .search #search {
        box-shadow: 0 3px rgba(255,255,255,1);
  }
}
