#results {
	display: none;
	margin: 3.5rem 2rem 0 2rem;
	padding: 2rem;
	list-style: none;
	background: var(--overlay-bg);
	box-shadow: 0 3px 7px rgba(0,0,0,0.05),
				0 5px 20px rgba(0,0,0,0.05);
	border-radius: 10px;

	.status {
		font-family: var(--ui-font);
		text-align: center;
		color: var(--ui-color);
		opacity: 0.4;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.result-wrapper {
		display: block;
		margin: 0 1rem 1.5rem 1rem;
		text-decoration: none;

		&:last-child {
			margin-bottom: 1rem;
		}

		&:hover .result .result-title,
		&:focus .result .result-title {
			text-decoration: underline;
			text-underline-offset: 2.5px;
		}

		&:active {
			position: relative;
			top: 2px;
		}

		.result {
			display: flex;

			.left, .right {
				display: block;
			}

			.left {
				flex-shrink: 0;
				width: 150px;
				margin-right: 1rem;
			}

			.result-thumbnail {
				position: relative;
				padding-top: 70%;
				margin-top: 0.5rem;
				background-color: rgba(0,0,0,0.07);
				background-size: cover;
				background-position: center center;
				border-radius: 7px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0; left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--overlay-bg);
					border-radius: 7px;
					animation-name: fadeIn;
					animation-duration: 0.35s;
					animation-timing-function: ease-in-out;
					animation-fill-mode: forwards;
				}

				@keyframes fadeIn {
				from {background-color: var(--overlay-bg);}
				to {background-color: var(--overlay-bg-t);}
				}
			}

			.result-title {
				display: block;
				font-size: 1.5rem;
				font-weight: 500;
				line-height: 1.4;
				color: var(--ui-color);
				margin-bottom: 0.25rem;
			}

			.result-meta {
				font-size: 15px;
				color: var(--ui-color);
				margin-bottom: 0.25rem;
				opacity: 0.5;
			}

			p {
				margin-bottom: 0;
				font-family: var(--body-font);
				font-size: var(--body-font-size);
				line-height: var(--body-line-height);
				color: var(--body-color);
			}
		}
	}
}

@media (max-width: 60rem) {
	#results .result-wrapper {
		margin: 0 0 1.5rem 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 35rem) {
	#results {
		opacity: 0;
		margin: 0;
		padding: 2rem 0 0 0;
		background: var(--overlay-bg-t);
		box-shadow: none;
		border-radius: 0;
		-webkit-transition: 0.25s ease-in-out opacity;
		-moz-transition: 0.25s ease-in-out opacity;
		transition: 0.25s ease-in-out opacity;

		.result-wrapper {
			margin: 0 0 2rem 0;

			.result {
				flex-direction: column;

				.left {
					width: 100%;
				}

				.result-thumbnail {
					margin-top: 0;
					margin-bottom: 0.6rem;
					padding-top: 45%;
				}
			}
		}
	}

	.masthead.active #results {
		opacity: 1;
	}
}
