.center {
    text-align: center;
}

.subscribe {
    display: inline-block;
    padding: 2.5rem 3rem;
    margin: 5rem 0 8rem 0;
    font-family: var(--ui-font);
    color: var(--ui-color);
    text-align: center;
    background: var(--overlay-bg);
    box-shadow: 0 3px 7px rgba(0,0,0,0.05),
                0 5px 20px rgba(0,0,0,0.05);
    border-radius: 20px;

    .background {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        text-align: center;
        z-index: -1;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        img {
            display: inline-block;
            width: 50%;
            max-width: 500px;
            transform: scale(2.2);
            transform-origin: center 5%;
        }
    }

    h1 {
        margin-top: 0.5rem;
        font-size: 1.8rem;
        font-weight: 400;
    }

    p {
        margin-top: 1rem;
        font-family: var(--body-font);
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        opacity: 0.5;
    }

    a {
        display: inline-block;
        margin-top: 0.4rem;
        line-height: 1.5;
        text-transform: uppercase;
        color: var(--ui-color);
        box-shadow: 0 1px 0 var(--ui-color);
        opacity: 0.2;
        -webkit-transition: .1s ease-in-out opacity;
        -moz-transition: .1s ease-in-out opacity;
        transition: .1s ease-in-out opacity;

        &:hover, &:focus {
            text-decoration: none;
            opacity: 1;
        }

        &:active {
            position: relative;
            top: 2px;
        }
    }

    form {
        display: flex;
        align-items: center;
        height: 70px;
        max-width: 550px;
        margin: 1.5rem auto;
        padding: 0 35px;
        background: rgba(0,0,0,0.02);
        border-radius: 35px;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

        input, button {
            border: 0;
            padding: 0;
            margin: 0;
            font-family: var(--ui-font);
            font-size: 20px;
            line-height: 33px;
            color: var(--ui-color) !important;
            background: transparent;
            outline: none;
        }

        input[type="text"] {
            flex-grow: 1;
            -webkit-appearance: none;
        }

        ::-ms-input-placeholder {
            line-height: 33px; color: var(--ui-color); opacity: 0.2;
            -ms-transition: .1s ease-in-out opacity; }
        ::-webkit-input-placeholder {
            line-height: 33px; color: var(--ui-color); opacity: 0.2;
            -webkit-transition: .1s ease-in-out opacity; }
        ::-moz-placeholder {
            line-height: 33px; color: var(--ui-color); opacity: 0.2;
            -moz-transition: .1s ease-in-out opacity; }
        ::placeholder {
            line-height: 33px; color: var(--ui-color); opacity: 0.2;
            transition: .1s ease-in-out opacity; }
        
        &:hover, &:focus {
            ::-ms-input-placeholder { opacity: 0.4; }
            ::-webkit-input-placeholder { opacity: 0.4; }
            ::-moz-placeholder { opacity: 0.4; }
            ::placeholder { opacity: 0.4; }
        }

        button {
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.2;
            -webkit-transition: .1s ease-in-out opacity;
            -moz-transition: .1s ease-in-out opacity;
            transition: .1s ease-in-out opacity;

            span:last-child {
                display: inline-block;
                transform: scale(1.3);
                margin-left: 0.3rem;
            }

            &:active {
                position: relative;
                top: 2px;
                opacity: 1;
            }
        }

        input[type="text"]:focus + button {
            opacity: 1;
        }
    }
}

.subscribe.mini {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    .post.found & { padding-left: 40px; }
    margin: 2rem 0 0 0;
    text-align: left;
    background: transparent;
    box-shadow: none;
    border-radius: 0;

    & > span {
        flex-grow: 1;
        font-size: var(--body-font-size);
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        vertical-align: super;
        color: rgba(0,0,0,0.35);

        span:last-child {
            display: none;
        }
    }

    form {
        align-items: flex-end;
        height: 26px;
        max-width: 550px;
        margin: 0;
        padding: 0 10px;
        background: transparent;
        border-radius: 0;
        box-shadow: 0 1px rgba(0,0,0,1);

        input, button {
            max-width: 190px;
            font-size: 16px;
            line-height: 1.8;
            vertical-align: middle;
        }

        ::-ms-input-placeholder {
            line-height: 1.8; color: var(--ui-color); opacity: 0.2; }
        ::-webkit-input-placeholder {
            line-height: 1.8; color: var(--ui-color); opacity: 0.2; }
        ::-moz-placeholder {
            line-height: 1.8; color: var(--ui-color); opacity: 0.2; }
        ::placeholder {
            line-height: 1.8; color: var(--ui-color); opacity: 0.2; }

        &:hover {
            ::-ms-input-placeholder { opacity: 0.4; }
            ::-webkit-input-placeholder { opacity: 0.4; }
            ::-moz-placeholder { opacity: 0.4; }
            ::placeholder { opacity: 0.4; }
        }

        button {
            margin-right: 0;
            opacity: 1;

            span:first-child {
                display: none;
            }
            span:last-child {
                top: 0;
                transform: scale(1.3);
                margin-left: 0;
                color: #000;
            }
        }
    }
}

@media (max-width: 60rem) {
    .fullpage .subscribe {
        p {
            font-size: 14px;
        }

        form {
            button span {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    top: 0px;
                }
            }
        }
    }
}

@media (max-width: 55rem) {
    .fullpage .subscribe .background img {
        width: 26rem;
    }
}

@media (max-width: 45rem) {
    .subscribe.mini > span {
        span:first-child { display: none; }
        span:last-child { display: inline; }
    }
}

@media (max-width: 35rem) {
    .fullpage .subscribe {
        width: calc(100% + 3rem);
        padding: 2.5rem 3rem 3rem 3rem;
        margin: 0 0 0 -1.5rem;

        .background {
            display: none;
        }

        a {
            float: left;
            margin: 18px 0 0 30px;
            font-size: 18px;
            text-transform: none;
            box-shadow: none;

            span {
                display: none;
            }
        }

        form {
            display: block;
            height: auto;
            padding: 0;
            margin: 1.5rem 0 0 0;
            background: transparent;
            border-radius: 0;
            box-shadow: none;

            input, button {
                height: 60px;
                padding: 4px 30px 0 30px;
                font-size: 18px;
                line-height: 31px;
            }

            input[type="text"] {
                width: 100%;
                background: rgba(0,0,0,0.02);
                border-radius: 30px;
                box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
            }

            ::-ms-input-placeholder {
                line-height: 31px; }
            ::-webkit-input-placeholder {
                line-height: 31px; }
            ::-moz-placeholder {
                line-height: 31px; }
            ::placeholder {
                line-height: 31px; }

            button {
                float: right;
                display: inline-block;
                margin-right: 0;
                padding-left: 0;

                span {
                    &:first-child {
                        display: inline;
                    }

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    .subscribe.mini {
        flex-direction: column;
        margin-bottom: 0.5rem;
        .post.found & { padding-left: 0; }

        & > span {
            margin-bottom: 0.5rem;
        }
    }
}
