// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--ui-font);
  color: var(--ui-color);
}

h1 {
  font-size: 2rem;

  a:hover,
  a:focus {
    text-underline-offset: 4px;
  }
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;

  a:hover,
  a:focus {
    text-underline-offset: 2.5px;
  }
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.9;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: var(--gray-600);
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--border-color);
  }
}

blockquote {
  padding: 0.25rem 1rem;
  margin: .8rem 0;
  color: rgba(0,0,0,0.5);
  border-left: 1px solid rgba(0,0,0,0.15);

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.3rem;
  }
}

figure {
  margin: 0;
}

.banner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 6vw 0 12vw 0;
  @media (min-width: 1000px) {
    padding: 80px 0 125px 0;
  }
  @media (max-width: 35rem) {
    padding: 6vw 0 10vw 0;
  }

  h1, h2 {
    width: 100%;
  }

  h1 {
    position: relative;
    transform: scale(2.5);
    z-index: -1;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    font-family: var(--banner-font);
    line-height: var(--banner-line-height);
    color: var(--banner-color);
    margin: 0;

    font-size: 12vw;
    padding-bottom: 3.6vw;
    @media (min-width: 1000px) {
      font-size: 120px;
      padding-bottom: 36px;
    }
  }

  h2 {
    font-family: var(--ui-font);
    font-weight: var(--ui-font-weight);
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--ui-color);
    margin-left: -100%;
    text-align: center;
    padding: 0 2rem;
    text-shadow: 1px 0 0 var(--body-bg),
                 -1px 0 0 var(--body-bg),
                 0 1px 0 var(--body-bg),
                 0 -1px 0 var(--body-bg),
                 0 0 2px var(--body-bg),
                 0 0 2px var(--body-bg);
    @media (max-width: 60rem) {
      font-size: 1.2rem;
      padding: 0 8vw;
    }
    @media (max-width: 45rem) {
      font-size: 1rem;
      padding: 0;
    }
  }
}

article {
  p a, li > a {
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid var(--link-color);

    &:hover, &:focus {
      text-decoration: none;
      border-bottom: 1px solid var(--link-hover-color);
    }

    &:active {
      position: relative;
      top: 2px;
    }
  }
}

// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.
//
// Sans:
//   Mallory
//     • Thin (300)
//     • Book (400)
//     • Book Italic (400)
//     • Medium (500)
//     • Bold (600)
// 
// Serif:
//   Feijoa
//     • Book (400)
//     • Book Italic (400)
//     • Bold (600)
// 
// Mono:
//   Spot Mono
//     • Normal (400)
// 
// Display:
//   Hoefler Titling
//     • Normal (400)
//

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

@font-face {
  font-family: "Mallory";
  src: url($baseurl + "/fonts/mallory-book.eot");
  src: url($baseurl + "/fonts/mallory-book.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/mallory-book.woff2") format("woff2"),
       url($baseurl + "/fonts/mallory-book.woff") format("woff"),
       url($baseurl + "/fonts/mallory-book.ttf") format("truetype"),
       url($baseurl + "/fonts/mallory-book.svg#mallory-book") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mallory";
  src: url($baseurl + "/fonts/mallory-book-italic.eot");
  src: url($baseurl + "/fonts/mallory-book-italic.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/mallory-book-italic.woff2") format("woff2"),
       url($baseurl + "/fonts/mallory-book-italic.woff") format("woff"),
       url($baseurl + "/fonts/mallory-book-italic.ttf") format("truetype"),
       url($baseurl + "/fonts/mallory-book-italic.svg#mallory-bookitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mallory";
  src: url($baseurl + "/fonts/mallory-thin.eot");
  src: url($baseurl + "/fonts/mallory-thin.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/mallory-thin.woff2") format("woff2"),
       url($baseurl + "/fonts/mallory-thin.woff") format("woff"),
       url($baseurl + "/fonts/mallory-thin.ttf") format("truetype"),
       url($baseurl + "/fonts/mallory-thin.svg#mallory-thin") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mallory";
  src: url($baseurl + "/fonts/mallory-medium.eot");
  src: url($baseurl + "/fonts/mallory-medium.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/mallory-medium.woff2") format("woff2"),
       url($baseurl + "/fonts/mallory-medium.woff") format("woff"),
       url($baseurl + "/fonts/mallory-medium.ttf") format("truetype"),
       url($baseurl + "/fonts/mallory-medium.svg#mallory-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mallory";
  src: url($baseurl + "/fonts/mallory-bold.eot");
  src: url($baseurl + "/fonts/mallory-bold.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/mallory-bold.woff2") format("woff2"),
       url($baseurl + "/fonts/mallory-bold.woff") format("woff"),
       url($baseurl + "/fonts/mallory-bold.ttf") format("truetype"),
       url($baseurl + "/fonts/mallory-bold.svg#mallory-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Feijoa";
  src: url($baseurl + "/fonts/feijoa-medium.eot");
  src: url($baseurl + "/fonts/feijoa-medium.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/feijoa-medium.woff2") format("woff2"),
       url($baseurl + "/fonts/feijoa-medium.woff") format("woff"),
       url($baseurl + "/fonts/feijoa-medium.ttf") format("truetype"),
       url($baseurl + "/fonts/feijoa-medium.svg#feijoa-medium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Feijoa";
  src: url($baseurl + "/fonts/feijoa-medium-italic.eot");
  src: url($baseurl + "/fonts/feijoa-medium-italic.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/feijoa-medium-italic.woff2") format("woff2"),
       url($baseurl + "/fonts/feijoa-medium-italic.woff") format("woff"),
       url($baseurl + "/fonts/feijoa-medium-italic.ttf") format("truetype"),
       url($baseurl + "/fonts/feijoa-medium-italic.svg#feijoa-medium-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Feijoa";
  src: url($baseurl + "/fonts/feijoa-bold.eot");
  src: url($baseurl + "/fonts/feijoa-bold.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/feijoa-bold.woff2") format("woff2"),
       url($baseurl + "/fonts/feijoa-bold.woff") format("woff"),
       url($baseurl + "/fonts/feijoa-bold.ttf") format("truetype"),
       url($baseurl + "/fonts/feijoa-bold.svg#feijoa-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Spot Mono";
  src: url($baseurl + "/fonts/spotmono-book.eot");
  src: url($baseurl + "/fonts/spotmono-book.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/spotmono-book.woff2") format("woff2"),
       url($baseurl + "/fonts/spotmono-book.woff") format("woff"),
       url($baseurl + "/fonts/spotmono-book.ttf") format("truetype"),
       url($baseurl + "/fonts/spotmono-book.svg#spotmono-book") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hoefler Titling";
  src: url($baseurl + "/fonts/hoeflertitling-smroman.eot");
  src: url($baseurl + "/fonts/hoeflertitling-smroman.eot?#iefix") format("embedded-opentype"),
       url($baseurl + "/fonts/hoeflertitling-smroman.woff2") format("woff2"),
       url($baseurl + "/fonts/hoeflertitling-smroman.woff") format("woff"),
       url($baseurl + "/fonts/hoeflertitling-smroman.ttf") format("truetype"),
       url($baseurl + "/fonts/hoeflertitling-smroman.svg#hoeflertitling-smroman") format("svg");
  font-weight: 400;
  font-style: normal;
}
