---
layout: default
---

{% assign issues = paginator.posts %}
<div class="issues">
{% for issue in issues %}
  <a class="issue-link" href="{{ issue | relative_url }}">
    <div class="issue" style="color: #{{ issue.color }}; background-image: url('{{ site.baseurl | append: "/covers/" | append: issue.cover }}');">
      <div class="issue-title">{{- issue.slug | split: "-" | slice: 0 -}}</div>
      <div class="issue-volume">{{- issue.volume -}}</div>
      <div class="issue-logo">{% include mark.svg %}</div>
    </div>
    <div class="issue-meta">
      <span>issue {{ issue.volume }}</span>
      &middot;
      <span>{{issue.slug | replace: "-", " " }}</span>
    </div>
  </a>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span>&larr;</span>older</a>
  {% else %}
    <span class="pagination-item older"><span>&larr;</span>older</span>
  {% endif %}
  <span class="filler"></span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">newer<span>&rarr;</span></a>
  {% else %}
    <span class="pagination-item newer">newer<span>&rarr;</span></span>
  {% endif %}
</div>
{% endif %}
