---
layout: default
---

{% assign post-issue = site.issues | where:"slug", page.category | first %}
{% if page.tags contains "found" %}
	{% assign title = "Around the Web" %}
{% else %}
	{% assign title = page.title %}
{% endif %}
{% unless page.tags contains "found" %}
  <picture class="post-thumbnail header">
    <img src="{{ site.baseurl | append: page.image }}" alt="" />
  </picture>
{% endunless %}
<article class="post {{ page.tags | join: " " }}">
  <h1 class="post-title">
    {{ title }}
  </h1>
  <div class="post-meta">
    {% for tag in page.tags %}
      <a href="{{ site.baseurl | append: "/" | append: tag }}/">{{ tag }}</a> &middot;
    {% endfor %}
    <a href="{{ site.baseurl | append: post-issue.url }}">issue {{ post-issue.volume }}</a> &middot;
    <a href="{{ site.baseurl | append: post-issue.url }}">{{ post-issue.slug | replace: "-", " " }}</a>
  </div>
  {{ content | extlinks }}
  {% if page.recipe %}
    {% assign recipe = site.recipes | where:"slug", page.recipe | first %}
    {% include recipe.html %}
  {% endif %}
  <div class="share">
    <ul>
      <li>share this article</li>
      <li><a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><img src="{{ site.baseurl }}/assets/twitter.svg" alt="twitter"></a></li>
      <li><a href="mailto:?subject={{ title }}&amp;body=From C100: {{ site.url }}{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/assets/email.svg" alt="email"></a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/assets/link.svg" alt="link"></a></li>
    </ul>
  </div>
  <div class="subscribe mini">
    <span>
      <span>Get the newsletter</span>
      <span>Subscribe</span>
    </span>
    {% include subscribe.html %}
  </div>
</article>

{% include related.html %}

<div class="splash"><picture><img src="{{ page.illo }}" alt="" /></picture></div>
