---
layout: default
---

{% assign recipes = paginator.posts %}
{% assign offset = paginator.previous_page | times: paginator.per_page %}

<div class="recipes">
    <h1 class="page-title">Recipes</h1>
    <ol class="recipe-list" style="counter-reset: counter {{ offset }};">
    {% for recipe in recipes %}
        <a class="recipe-link" href="{{ recipe | relative_url }}"><li>
            <span class="recipe-title">{{ recipe.title }}</span>
            <span class="recipe-servings">{{ recipe.servings }}</span>
            <span class="recipe-time">{{ recipe.time }}</span>
        </li></a>
    {% endfor %}
    </ol>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span>&larr;</span>older</a>
  {% else %}
    <span class="pagination-item older"><span>&larr;</span>older</span>
  {% endif %}
  <span class="filler"></span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">newer<span>&rarr;</span></a>
  {% else %}
    <span class="pagination-item newer">newer<span>&rarr;</span></span>
  {% endif %}
</div>
{% endif %}

<div class="splash"><picture><img src="/assets/phlox.png" alt="" /></picture></div>
