---
layout: default
---

<div class="posts {{ page.pagination.tag }}">
  {% for post in paginator.posts %}
    {% include postlet.html full-found="true" %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span>&larr;</span>older</a>
  {% else %}
    <span class="pagination-item older"><span>&larr;</span>older</span>
  {% endif %}
  <span class="filler"></span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">newer<span>&rarr;</span></a>
  {% else %}
    <span class="pagination-item newer">newer<span>&rarr;</span></span>
  {% endif %}
</div>
<div class="pagination sideways">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span>&uarr;</span>older<span>&uarr;</span></a>
  {% else %}
    <span class="pagination-item older"><span>&uarr;</span>older<span>&uarr;</span></span>
  {% endif %}
  <span class="filler"></span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span>&uarr;</span>newer<span>&uarr;</span></a>
  {% else %}
    <span class="pagination-item newer"><span>&uarr;</span>newer<span>&uarr;</span></span>
  {% endif %}
</div>
{% endif %}
